:root {
}

.defaultButton {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -unity-font-style: bold-and-italic;
    font-size: 60px;
    color: rgb(127, 74, 149);
    background-color: rgba(60, 58, 79, 0);
    background-image: url("project://database/Assets/Main_menu/Free%20UI%20build%20package/Art/Bars_Unity.png?fileID=21300034&guid=34ecf51bcd3f4424eafda7dafd885bd0&type=3#Bars_Unity_17");
    background-size: 90% 140%;
    -unity-background-image-tint-color: rgb(94, 83, 45);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
